body{
    font-family: sans-serif;
    background-color: bisque;
    
}
.todo{
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 96%;
    background-color: lightblue;
    border-style: double;
    width: 900px;
    height: 700px;
}
border{
    margin-bottom: 10%;
}
h1{
    font-family: cursive;
}
